@charset "utf-8";
* {
   box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');



body {
   font-family: 'Montserrat','Noto Sans JP', sans-serif;

   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #fcfcfc;
   letter-spacing : 0.2em;
   background-image: url(../img/pastel.jpeg);
}
header {
   padding: 30px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: rgb(60, 226, 248);
   display: flex;
   align-items: center;
}
h1 {
   margin: 0; padding: 0;
   font-size: 20px;
}
a {	
   text-decoration: none;
   color: #524612;
}
nav {
   margin: 0 0 0 auto;
}
ul {
   list-style: none;
   margin: 0;
   display: flex;
}
li {
   margin: 0 0 0 15px;
   font-size: 14px;
}
.main-visual {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: url('DSC00697.JPG') top center / cover no-repeat;
   
}
h2 {
   margin: 0;
   font-size: 30px;
   font-weight: normal;
   color: #fff;
   -webkit-text-stroke: 1px rgb(0, 0, 0);
   
}

.sp-nav {
   display: none;
}

@media screen and (max-width: 640px) {
   .pc-nav {
      display: none;
   }
   .sp-nav {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: block;
      width: 100%;
      background: rgba(0, 0, 0, .8);
      opacity: 0;
      transform: translateY(-100%);
      transition: all .2s ease-in-out;
   }
   #hamburger {
      position: relative;
      display: block;
      width: 30px;
      height: 25px;
      margin: 0 0 0 auto;
   }
   #hamburger span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transform: translateY(-50%);
   }
   #hamburger::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
   }
   #hamburger::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      height: 2px;
      background-color: #fff;
   }
   /*スマホメニュー*/
   .sp-nav ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
   }
   .sp-nav li {
      margin: 0;
      padding: 0;
   }
   .sp-nav li span {
      font-size: 15px;
      color: #fff;
   }
   .sp-nav li a, .sp-nav li span {
      display: block;
      padding: 20px 0;
   }
   /*-閉じるアイコンー*/
   .sp-nav .close {
      position: relative;
      padding-left: 20px;
   }
   .sp-nav .close::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      transform: rotate( 45deg );
   }
   .sp-nav .close::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      transform: rotate( -45deg );
   }
   .toggle {
      transform: translateY( 0 );
      opacity: 1;
   }
   .main-visual {
      padding: 0 4%;
   }
   h2 {
      line-height: 1.6;
      text-align: center;
   }
}


.imgflame{
   text-align: center;
   display: block;
   margin:auto;

}
.imgsize{
   width: 300px;
   margin:30px;
   height:200px;
   
}

.imgtxt{
   color:black;
}



.tomei {
   color: #fff;
}

.wrap{
   text-align: center;
}
.usiro{
   margin-left:80px;margin-right:80px;padding:20px;border-style:dashed;border-color: rgb(245, 216, 179);
background-color:#fff;
}


 
 
#footer02 {
  background: #E0FFFF;
}
 
.ie #footer02 .logo img,
#footer02 .logo {
  display: inline-block;
  width: 120px;
}
 
#footer02 .nav li a {
  padding: 15px;
  color: #ccc;
}
 
#footer02 .c-btn {
  margin-left: 25px;
}
 
 
@media screen and (min-width: 641px) {
  #footer02 .logo {
    padding: 10px 0;
  }
 
  #footer02 .wrap {
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  #footer02 .cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
 
  #footer02 .nav {
    display: inline-block;
  }
 
  #footer02 .nav li {
    display: inline-block;
  }
 
  #footer02 .nav li a:hover {
    color: #ca353b;
  }
}

